@model List<UserInfo>
@{
    ViewBag.Title="Toplantı Katılım Listesi";
}
<main class="text-center">
    <h1 class="mb-3">Toplantı Katılım Listesi</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Ad</td>
                <td>Katılım Durumu</td>
            </tr>
        </thead>
        <tbody>
            @{int i = 0;}
            @foreach(var user in @Model){
                var willAttend = @user.WillAttend==true?"Evet":"Hayır";
                var className = @user.WillAttend==true?"table-success":"table-danger";
    
                if(@user.WillAttend==true){
                    i++;
                }
    
                <tr class="@className">
                    <td>
                        @user.Name
                    </td>
                    <td>
                       @willAttend
                    </td>
                    <td>
                        <a asp-controller="meeting" asp-action="detail" asp-route-id="@user.ID" class="btn btn-primary btn-sm">Detay</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="card">
        <div class="card-body">
            Katılımcı Sayısı: @i
        </div>
    </div>
</main>
